.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-right: 5px;
  margin-left: 100px;
}
.search-area {
  padding: 20px;
  background-color: #222;
  text-align: center;
}
input {
  padding: 5px 3px;
  width: 75%;
}
